[submodule "freeverb3"]
	path = freeverb3
	url = git@github.com:HenriCSHC/freeverb3.git
[submodule "helper"]
	path = helper
	url = git@github.com:HenriCSHC/MckHelper.git
[submodule "gui/MckSvelte"]
	path = gui/MckSvelte
	url = git@github.com:HenriCSHC/MckSvelte.git
[submodule "src/gui"]
	path = src/gui
	url = git@github.com:HenriCSHC/MckGui.git
