[submodule "freeverb3"]
	path = freeverb3
	url = ../freeverb3.git
[submodule "helper"]
	path = helper
	url = ../MckHelper.git
[submodule "gui/MckSvelte"]
	path = gui/src/mck
	url = ../MckSvelte.git
[submodule "src/gui"]
	path = src/gui
	url = ../MckGui.git
