[submodule "freeverb3"]
	path = freeverb3
	url = git@github.com/HenriCSHC/freeverb3.git
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "helper"]
	path = helper
	url = git@github.com:HenriCSHC/MckHelper.git
