@font-face {
	font-family: mck-lato;
	src: url(./Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: mck-lato;
	src: url(./Lato/Lato-Italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: mck-lato;
	src: url(./Lato/Lato-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: mck-lato;
	src: url(./Lato/Lato-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
:root {
	--font-family: mck-lato;
	--font-size: 14px;
	--font-header-size: 18px;
	--bg-color: #f0f0f0;
	--bg2-color: #e0e0e0;
	--fg-color: #222;
	--border-color: #222;
	--border-light-color: #a0a0a0;
	--shadow-color: #555;
	--hover-color: #666;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: mck-lato;
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
}
